@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 237 36% 99%;
        --foreground: 237 67% 5%;
        --muted: 207 17% 87%;
        --muted-foreground: 207 5% 26%;
        --popover: 237 36% 98%;
        --popover-foreground: 237 67% 4%;
        --card: 237 36% 98%;
        --card-foreground: 237 67% 4%;
        --border: 237 2% 91%;
        --input: 237 2% 91%;
        --primary: 237 98% 80%;
        --primary-foreground: 237 98% 20%;
        --secondary: 207 98% 80%;
        --secondary-foreground: 207 98% 20%;
        --accent: 267 98% 80%;
        --accent-foreground: 267 98% 20%;
        --destructive: 2 90% 37%;
        --destructive-foreground: 2 90% 97%;
        --ring: 237 98% 80%;
        --chart-1: 237 98% 80%;
        --chart-2: 207 98% 80%;
        --chart-3: 267 98% 80%;
        --chart-4: 207 98% 83%;
        --chart-5: 237 101% 80%;
        --radius: 0.5rem;
    }

    .dark {
        --background: 237 52% 3%;
        --foreground: 237 15% 99%;
        --muted: 207 17% 13%;
        --muted-foreground: 207 5% 74%;
        --popover: 237 52% 4%;
        --popover-foreground: 0 0% 100%;
        --card: 237 52% 4%;
        --card-foreground: 0 0% 100%;
        --border: 237 2% 13%;
        --input: 237 2% 13%;
        --primary: 237 98% 80%;
        --primary-foreground: 237 98% 20%;
        --secondary: 207 98% 80%;
        --secondary-foreground: 207 98% 20%;
        --accent: 267 98% 80%;
        --accent-foreground: 267 98% 20%;
        --destructive: 2 90% 50%;
        --destructive-foreground: 0 0% 100%;
        --ring: 237 98% 80%;
        --chart-1: 237 98% 80%;
        --chart-2: 207 98% 80%;
        --chart-3: 267 98% 80%;
        --chart-4: 207 98% 83%;
        --chart-5: 237 101% 80%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    html {
        @apply scroll-smooth;
    }

    body {
        @apply overscroll-none bg-background text-foreground;

        font-family: var(--font-geist-sans), 'sans-serif';
        height: 100vh;
    }
}

::-webkit-scrollbar {
    width: 4px;
    height: 2px;
}

::-webkit-scrollbar-track {
    @apply bg-background;
}

::-webkit-scrollbar-thumb {
    @apply rounded-full bg-secondary/65 hover:bg-secondary;
}
